<aside>
  <section class="gl segment">
    {{#get "posts" limit="5" as |recents|}}

    <h4 class="title">Recent Posts</h4>

    <ul class="gl post list">
      {{#foreach recents}}

      <li class="item">
        <a class="gl fluid image" href="{{url}}">
          <img src="{{img_url feature_image}}" alt="{{title}}">
        </a>

        <section class="content">
          <h5 class="title"><a href="{{url}}">{{title}}</a></h5>

          <div class="gl date chunk">Posted <span title="{{date published_at format="MMMM DD, YYYY"}}">{{date published_at timeago="true"}}</span></div>
        </section>
      </li>

      {{/foreach}}
    </ul>

    {{/get}}
  </section>
</aside>
