<div>
  {{#is "post"}}

  {{#post}}

  {{#author}}

  {{#if location}}
  <section class="gl segment" data-author="{{location}}">
    <h4 class="title">About Author</h4>

      <div class="gl center aligned chunk">
        <div class="gl big dummy cover avatar image">
          <img alt=" " data-author-avatar>
        </div>
      </div>

      <div class="gl tight hidden divider"></div>

      <h3 class="gl center aligned header" data-author-name>
        <div class="gl centered placeholder">
          <div></div>
        </div>
      </h3>

      <div data-author-headline class="gl center aligned headline chunk">
        <div class="gl centered placeholder">
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="gl tight hidden divider"></div>

      <div data-author-summary-short class="gl clamp chunk">
        <div class="gl placeholder">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="gl tight hidden divider"></div>

      <div class="gl center aligned chunk">
        <a class="gl primary button" target="_blank" data-author-link hidden>Hire Now</a>
      </div>
  </section>
  {{/if}}

  {{/author}}

  {{/post}}

  {{/is}}
  <section class="gl segment">
    <h4 class="title">Follow Us</h4>

    <div class="gl small flexy chunk">
       <a href="https://www.linkedin.com/company/golance" target="_blank" title="goLance on LinkedIn">
          <i class="gl social white inverted linkedin icon">
             <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ei-sc-linkedin-icon"></use>
             </svg>
          </i>
       </a>
       <a href="https://www.facebook.com/pages/goLance-Inc/1431043680529129" target="_blank" title="goLance on Facebook">
          <i class="gl social white inverted facebook icon">
             <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ei-sc-facebook-icon"></use>
             </svg>
          </i>
       </a>
       <a href="https://twitter.com/goLanceInc" target="_blank" title="goLance on Twitter">
          <i class="gl social white inverted twitter icon">
             <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ei-sc-twitter-icon"></use>
             </svg>
          </i>
       </a>
       <a href="https://www.youtube.com/channel/UCLK_ys5WryiHiStq6jTqDxQ" target="_blank" title="goLance on YouTube">
          <i class="gl social white inverted youtube icon">
             <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ei-sc-youtube-icon"></use>
             </svg>
          </i>
       </a>
    </div>
  </section>
  <section class="gl segment">
    {{#get "posts" limit="5" as |recents|}}

    <h4 class="title">Recent Posts</h4>

    <ul class="gl post list">
      {{#foreach recents}}

      <li class="item">
        {{#if feature_image}}
          <a class="gl fluid image" href="{{url}}">
            <img src="{{img_url feature_image}}" alt="{{title}}">
          </a>
        {{/if}}

        <section class="content">
          <h5 class="title"><a href="{{url}}">{{title}}</a></h5>

          <div class="gl date chunk">Posted <span title="{{date published_at format="MMMM DD, YYYY"}}">{{date published_at timeago="true"}}</span></div>
        </section>
      </li>

      {{/foreach}}
    </ul>

    {{/get}}
  </section>

  {{#get "tags" include="count.posts" limit=10 order="count.posts desc"}}
  {{#if tags}}
    <section class="gl segment">
      <h4 class="title">Blog Topics</h4>

      <ul class="gl divided capitalized list">
        {{#foreach tags}}
          <li class="item">
            <a href="{{url}}" title="{{name}}">{{name}}</a>
          </li>
        {{/foreach}}
      </ul>
    </section>
  {{/if}}
  {{/get}}
</div>
