<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ asset 'build/styles.css' }}">

  {{ghost_head}}
  <meta name="">
  <link rel="shortcut icon" href="https://res.cloudinary.com/golance/image/upload/v1506353820/aqkipxycyqtprweszotm.png" type="image/png">
</head>

<body>
  <main>
    {{> icons}}
    {{> nav}}

    <div class="gl section">
      <div class="gl container">
        <div class="gl feed">
          <section class="content" data-element="content">
            {{{body}}}
          </section>

          <aside>
            {{> sidebar}}
          </aside>
        </div>
      </div>
    </div>
  </main>

  {{> footer}}

  <script src="{{asset 'build/scripts.js'}}"></script>
  {{ghost_foot}}
</body>
</html>
