{{!< default}}

{{#foreach posts}}

<article class="gl preview post segment">
  {{#if feature_image}}
    <a class="gl fluid post image" href="{{url}}">
      <img src="{{img_url feature_image}}" alt="{{title}}">
    </a>
  {{/if}}

  <h2 class="title"><a href="{{url}}">{{title}}</a></h2>

  <section class="content">{{excerpt words="100"}}...</section>

  <div class="more"><a href="{{url}}" class="gl bold link">Continue Reading</a></div>

  <footer class="gl author chunk">
    {{#author}}
      {{#if profile_image}}
        <a href="{{url}}" class="title">
          <img src="{{img_url profile_image}}" alt="{{name}}" class="logo">
        </a>
      {{/if}}

      <div class="content">
        <h4 class="name"><a href="{{url}}">{{name}}</a></h4>
        <section class="bio">{{bio}}</section>
        <div class="date">Posted <span title="{{date ../published_at format="MMMM DD, YYYY"}}">{{date ../published_at timeago="true"}}</span></div>
      </div>
    {{/author}}
  </footer>


  {{#if tags.length}}
  <div>
    {{#foreach tags}}
      <a href="{{url}}" title="{{name}}" class="gl small tag label">{{name}}</a>
      </li>
    {{/foreach}}
  </div>
  {{/if}}
</article>

{{/foreach}}

{{#if pagination.pages}}
  {{pagination}}
{{/if}}
