{{!< default}}

{{#foreach posts}}

<article class="gl post segment">
  {{#if feature_image}}
    <a class="gl fluid image" href="{{url}}">
      <img src="{{img_url feature_image}}" alt="{{title}}">
    </a>
  {{/if}}

  <h2 class="title"><a href="{{url}}">{{title}}</a></h2>

  <section class="content">{{excerpt words="100"}}...</section>

  <footer class="author">
    {{#author}}
      <a href="{{url}}" class="title">
        {{#if profile_image}}
          <img src="{{img_url profile_image}}" alt="{{name}}" class="logo">
        {{/if}}
        <h4 class="name">{{name}}</h4>
      </a>

      <section class="bio">{{bio}}</section>
    {{/author}}

    <div class="date">Posted <span title="{{date published_at format="MMMM DD, YYYY"}}">{{date published_at timeago="true"}}</span></div>
  </footer>
</article>

{{/foreach}}
