{{!< default}}

{{#post}}

<article class="gl detail post segment">
  {{#if feature_image}}
    <div class="gl fluid image">
      <img src="{{img_url feature_image}}" alt="{{title}}">
    </div>
  {{/if}}

  <h1 class="title">{{title}}</h1>
  <section class="content">{{content}}</section>


  {{#author}}
  {{#if location}}
  <footer data-author="{{location}}">
    <div class="gl light nowrap center aligned indented divider">About the Author</div>
    <section class="gl author chunk">
      <div class="fixed info">

        <div class="title">
          <div class="gl large dummy cover avatar image">
            <img alt=" " data-author-avatar>
          </div>
        </div>

        <a class="gl small primary button" target="_blank" data-author-link>Hire Now</a>
      </div>

      <div class="content">
        <h2 class="name" data-author-name>
          <div class="gl placeholder">
            <div></div>
          </div>
        </h2>

        <div data-author-headline class="gl headline chunk">
          <div class="gl placeholder">
            <div></div>
          </div>
        </div>

        <section class="bio" data-author-summary>
          <div class="gl placeholder">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </section>

        <div class="date">Posted <span title="{{date ../published_at format="MMMM DD, YYYY"}}">{{date ../published_at timeago="true"}}</span></div>
      </div>
    </section>
  </footer>
  {{/if}}
  {{/author}}

  {{#if tags.length}}
  <div>
    {{#foreach tags}}
      <a href="{{url}}" title="{{name}}" class="gl small tag label">{{name}}</a>
      </li>
    {{/foreach}}
  </div>
  {{/if}}

  <div class="gl social links segment">
    <div class="addthis_inline_share_toolbox"></div>
  </div>

  <div class="gl more posts segment">
    {{#prev_post}}
    <div class="prev">
      <i class="gl icon">
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ei-chevron-left-icon"></use>
        </svg>
      </i>
      <a href="{{url}}">{{title}}</a>
    </div>
    {{/prev_post}}

    {{#next_post}}
    <div class="next">
      <a href="{{url}}">{{title}}</a>
      <i class="gl icon">
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ei-chevron-right-icon"></use>
        </svg>
      </i>
    </div>
    {{/next_post}}
  </div>

  <div class="gl light divider"></div>

  <h3 class="title">Leave A Reply</h3>
  <section>
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
      // not working as domain is pointing to localhost due to migration issue
      // this.page.url = "{{url absolute='true'}}";
      this.page.url = window.location.href;
      this.page.identifier = "ghost-{{comment_id}}";
      };
      (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://golance.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
</article>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59ba53934198a66e"></script>

{{/post}}

{{#if post.tags.length}}

  {{#get "posts" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags,author,published_at"}}

  <div class="gl hidden divider"></div>

  <ul class="gl three post cards">
    {{#foreach posts}}

    <li class="item">
      <a class="gl fluid image" href="{{url}}">
        <img src="{{img_url feature_image}}" alt="{{title}}">
      </a>

      <section class="content">
        <h5 class="title"><a href="{{url}}">{{title}}</a></h5>

        <div class="gl author chunk">
          {{#author}}
            {{#if profile_image}}
              <a href="{{url}}" class="title">
                <img src="{{img_url profile_image}}" alt="{{name}}" class="avatar">
              </a>
            {{/if}}

            <div class="content">
              <h4 class="name"><a href="{{url}}">{{name}}</a></h4>
              <div class="date">Posted <span title="{{date ../published_at format="MMMM DD, YYYY"}}">{{date ../published_at timeago="true"}}</span></div>
            </div>
          {{/author}}
        </div>
      </section>

    </li>

    {{/foreach}}
  </ul>

  {{/get}}

{{/if}}
